{% extends 'base.html' %}

{% block title %}All Hits{% endblock %}

{% block head %}
<style>
    table { width: 100%; border-collapse: collapse; }
    th, td { border: 1px solid black; padding: 8px; text-align: left; }
</style>
{% endblock %}

{% block content %}
<h1 class="dark:text-white">All Page Hits</h1>
<table>
  <tr class="bg-slate-50 dark:bg-slate-400">
        <th>Project</th>
        <th>Hash_ID</th>
        <th>Path</th>
        <th>Referrer</th>
        <th>Device</th>
        <th>Browser</th>
        <th>Country</th>
        <th>Language</th>
        <th>Timestamp</th>
    </tr>
    {% for hit in hits %}
    <tr class="dark:bg-slate-300">
        <td>{{ hit.website.name }}</td>
        <td>{{ hit.hash_id }}</td>
        <td>{{ hit.path }}</td>
        <td>{{ hit.referrer }}</td>
        <td>{{ hit.device }}</td>
        <td>{{ hit.browser }}</td>
        <td>{{ hit.country }}</td>
        <td>{{ hit.language }}</td>
        <td>{{ hit.timestamp|date:"Y-m-d H:i:s" }}</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
