<!DOCTYPE html>
<html>
<head>
    <title>All Hits</title>
    <style>
        table { width: 100%; border-collapse: collapse; }
        th, td { border: 1px solid black; padding: 8px; text-align: left; }
        th { background-color: #f2f2f2; }
    </style>
</head>
<body>
    <h1>All Page Hits</h1>
    <table>
        <tr>
            <th>Hash_ID</th>
            <th>Path</th>
            <th>Referrer</th>
            <th>Device</th>
            <th>Browser</th>
            <th>Country</th>
            <th>Language</th>
            <th>Timestamp</th>
        </tr>
        {% for hit in hits %}
        <tr>
            <td>{{ hit.hash_id }}</td>
            <td>{{ hit.path }}</td>
            <td>{{ hit.referrer }}</td>
            <td>{{ hit.device }}</td>
            <td>{{ hit.browser }}</td>
            <td>{{ hit.country }}</td>
            <td>{{ hit.language }}</td>
            <td>{{ hit.timestamp|date:"Y-m-d H:i:s" }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html> 